*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cascadia code;
}
h1{
	text-align: center;
	color: red;
	text-decoration: underline;
	margin-top: 3rem;
}
.container{
	display: grid;
	grid-template-columns: repeat(3, 100px);
	place-content: center;
	margin: 3rem;
}
.container>div{
	width: 100px;
	height: 100px;
	border: 1px solid;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}